@import "tailwindcss";
@plugin "daisyui" {
    themes: false;
    prefix: "d-";
};

@theme inline {
    --shadow-medium: 5px 5px 15px #CCCCCC;
    --shadow-card: 2px 2px 4px rgba(0, 0, 0, .25);
    --shadow-card-center: 0px 0px 4px rgba(0, 0, 0, .25);
    --shadow-button: 2px 2px 5px #666;
    --shadow-form: 5px 5px 15px #333;
    
    --ease-in-menu: cubic-bezier(0.35,0.02,0.27,0.77);
    
    --color-backgroundMockup: rgba(0, 0, 0, .85);
    --color-almostwhite: #EEEEEE;
    --color-lightGray: #DDDDDD;
    --color-grayBackground: #D9D9D9;
    --color-primary: #00BC7D;
    --color-secondary: #EFFFEF;
    --color-tertiary: #00754E;
    --color-tertiary-hover: #1F8F5F;
    --color-tertiary-light: #2F9F6F;
    --color-form-background: #1A8360;
    --color-darkPrimary: #003322;
    --color-darkPrimary-hover: #005544;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-error: #F01C00;
    --color-errorLight: #FFBDBD;
    --color-errorDark: #990000;
    --color-info: #337AFF;

    --animate-fadeIn: fade 0.3s ease-out;
    --animate-fadeOut: fade 0.3s ease-in;

    @keyframes fadeIn {
        0%: { 
            opacity: 0;
            transform: scale(0.95);
        },
        100%: { 
            opacity: 1; 
            transform: scale(1);
        }
    }

    @keyframes fadeOut {
        0%:{
            opacity: 1;
            transform: scale(1);
        },
        100%: {
            opacity: 0;
            transform: scale(0.95);
        }
    }
}

@layer components {
    
    select:hover {
        cursor: pointer;
    }

    .form {
        position: relative;
        display: flex;
        max-width: 433px;
        width: 80vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        color: var(--color-neutral-200);
        background-color: var(--color-form-background);
        box-shadow: var(--shadow-form);
        border-radius: 10px;
        padding: 50px 30px;
        padding-bottom: 80px;
        @apply lg:relative lg:flex lg:max-w-full lg:w-full lg:px-[50px] lg:py-[0px] lg:flex-col 
        lg:place-items-start lg:place-content-start lg:bg-transparent lg:text-darkPrimary 
        lg:gap-[80px] lg:shadow-none       
    }

    .form-auth {
        position: relative;
        display: flex;
        max-width: 433px;
        width: 80vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        color: var(--color-neutral-200);
        background-color: var(--color-form-background);
        box-shadow: 5px 5px 15px #333;
        border-radius: 10px;
        padding: 50px 30px;
        padding-bottom: 80px;
    }

    .label-input {
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .label {
        font-weight: 500;
        @apply text-lg
    }

    .input {
        height: 40px;
        width: 100%;
        max-width: 300px;
        background-color: none;
        border-radius: 0px;
        border-bottom: 2px solid var(--color-tertiary);
        color: #FFFFFF;
        padding-left: 3px;
        @apply lg:h-[35px] lg:text-[.875rem]
    }
    
    .input-dashboard-lg {
        @apply lg:text-darkPrimary
    }

    .input:focus {
        outline: none;
        border-bottom:2px solid var(--color-tertiary-light);
    }
    
    /* Esto evita que el autollenado del navegador cambie el color del input */
    input.input:-webkit-autofill,
    textarea.input:-webkit-autofill,
    select.input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
        box-shadow: 0 0 0px 1000px transparent inset !important;
        -webkit-text-fill-color: var(--color-darkPrimary) !important;
        background-color: transparent !important;
        transition: background-color 9999s ease-in-out 0s !important;
    }
    
    .input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0) inset;
    }


    .loading-option {
        font-weight: var(--font-weight-extralight);
        font-style: italic;
    }

    .error-span {
        height: 10px;
        font-size: 13px;
        color: var(--color-error);
        transition: all .3s ease-in-out;
        @apply lg:text-[.75rem]
    }
    
    .error-option {
        color: var(--color-red-900);
        font-weight: var(--font-weight-extralight);
        font-style: italic;
    }

    .primary-button {
        background-color: var(--color-tertiary);
        color: #FFFFFF;
        min-height: 44px;
        padding: 10px;
        border-radius: 5px;
        transition: all .3s ease-in-out;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        box-shadow: 2px 2px 5px black;
    }

    .primary-button:hover {
        background-color: var(--color-tertiary-hover);
        
        cursor: pointer;
    }

    .primary-button:active {
        background-color: var(--color-neutral-300);
        color: var(--color-tertiary);
        cursor: pointer;
    }

    .inverse-primary-button {
        background-color: var(--color-neutral-300);
        color: var(--color-tertiary);
        min-height: 44px;
        padding: 10px 20px;
        border-radius: 5px;
        transition: all .3s ease-in-out;
    }

    .inverse-primary-button:hover {
        background-color: #FFFFFF;
        cursor: pointer;
    }

    .inverse-primary-button:active {
        background-color: var(--color-neutral-100);
        cursor: pointer;
    }

    .secondary-button {
        background-color: var(--color-errorDark);
        color: #FFFFFF;
        min-height: 44px;
        padding: 10px 20px;
        border-radius: 5px;
        transition: all .3s ease-in-out;
    }

    .secondary-button:hover {
        background-color: var(--color-red-600);
        cursor: pointer;
    }

    .secondary-button:active {
        background-color: var(--color-error);
        cursor: pointer;
    }

    .inverse-secondary-button {
        background-color: var(--color-neutral-300);
        color: var(--color-errorDark);
        min-height: 44px;
        padding: 10px 20px;
        border-radius: 5px;
        transition: all .3s ease-in-out;
    }

    .inverse-secondary-button:hover {
        background-color: var(--color-neutral-200);
        cursor: pointer;
    }

    .inverse-secondary-button:active {
        background-color: var(--color-neutral-100);
        cursor: pointer;
    }

    .table-row {
        padding-left: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .modal-title {
        text-align: center;
        font-weight: var(--font-weight-bold);
        font-size: 1.2rem;
        color: var(--color-neutral-200);
    }

    .modal-text {
        text-align: center;
        font-size: .875rem;
        color: var(--color-neutral-200);
    }

    .navigationIconContainer {
        display: flex;
        height: 55.65px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 5px;
    }

    .navigationIconText {
        font-weight: medium;
        font-size: .875rem;
    }

    .settingsLinks {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--color-darkPrimary);
    }


    /* Efects */

    .fromBlurFade {
        opacity: 0;
        filter: blur(6px);
        transition: all .8s ease-out;
    }

    .fromBlurFade.reveal-visible {
        opacity: 1;
        filter: blur(0px);
    }

    /* Cards */

    .featureCard {
        @apply flex flex-col bg-almostwhite/20 gap-[15px] px-[25px] py-[15px] place-items-center place-content-start rounded-2xl shadow-card
        /* Seguir dando estilos */
    }
}